{% extends 'layout.html' %}
{% block content %}
    <section class="navigation">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Student Name</a>
              <button class="toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#skills">Skills</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Projects
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#project1">Project 1</a></li>
                      <li><a class="dropdown-item" href="#project2">Project 2</a></li>
                      <li><a class="dropdown-item" href="#project3">Project 3</a></li>
                      <li><a class="dropdown-item" href="#project4">Project 4</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Add Project</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
    </section>
    <section class="header">
        <h1>Your Name</h1>
        <p>Your current goal. (Job, freelance, etc)</p>
        <!--I would suggest choosing a different picture here.-->
        <!--Like maybe a hobby photo-->
        <img src="https://cdn.pixabay.com/photo/2020/09/04/12/32/kayak-5543935_1280.jpg" alt="Headshot of myself">
    </section>
    <section id="about-page">
        <div id="triangle7"></div>
        <div id="triangle8"></div>
        <h2>Section Title</h2>
        <p>
            Soufflé cupcake cupcake. 
            Brownie chocolate cake gingerbread candy carrot cake sesame snaps cookie cake. 
            Bear claw pastry candy canes tart cookie caramels cotton candy caramels sweet roll. 
            Bonbon tootsie roll gummi bears sugar plum pie croissant. 
            Muffin sweet roll bonbon. 
            Carrot cake gummies cheesecake. 
            Gummi bears powder apple pie. 
            Topping cake powder. 
            Pastry chupa chups caramels.
        </p>
        <p>
            Soufflé cupcake cupcake. 
            Brownie chocolate cake gingerbread candy carrot cake sesame snaps cookie cake. 
            Bear claw pastry candy canes tart cookie caramels cotton candy caramels sweet roll. 
            Bonbon tootsie roll gummi bears sugar plum pie croissant. 
            Muffin sweet roll bonbon. 
            Carrot cake gummies cheesecake. 
            Gummi bears powder apple pie. 
            Topping cake powder. 
            Pastry chupa chups caramels.
        </p>
        <a href="#"><i class="far fa-file"></i>Resume</a>
    </section>
{% endblock %}
