{% extends 'layout.html' %}
{% block content %}
    <section class="navigation">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" >David Garcia</a>
                <button class="toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('about')}}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('index')}}#skills">Skills</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Projects
                            </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for project in projects %}
                                <li><a class="dropdown-item" href="{{url_for('project', id = project.id)}}">Project {{project.id}}</a></li>
                            {% endfor %}
                        </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('index')}}#contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('add')}}">Add Project</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <section class="header">
        <h1>David Garcia</h1>
        <p>My current goal is to get a career with the skills I have</p>
        <!--I would suggest choosing a different picture here.-->
        <!--Like maybe a hobby photo-->
        <img src="static/me.jpeg" alt="Headshot of myself">
    </section>
    <section id="about-page">
        <div id="triangle7"></div>
        <div id="triangle8"></div>
        <h2>About me and my hobbies</h2>
        <p>
            Hello, my name is David Garcia. I am interested in creation via computer programming. My current goal is to become the best
            I can be in the field of programming and prove my self worth of that postion.
            I am innovative and creative I have the fire in my heart to create applications and games with my skills
            as well as help solutions in everyday life for the people.   
        </p>
        <p>
            I am a laid back person that loves to joke around play video games, listen to music and play guitar.
            I am a person that is reserved until it is time to speak. Games are my main passion and would love to create my own soon as I feel ready which is real soon.
            I love to build computers and dabble with Inforamtion Technology. 
        </p>
        <a href="https://docs.google.com/document/d/1kxYl9GfRfup75KQz8ON11Zq_91Dg2_qZ/edit?usp=sharing&ouid=109863094589866675693&rtpof=true&sd=true" target = '_blank'><i class="far fa-file"></i>Resume</a>
    </section>
{% endblock %}
